
<center><div class="place">Earthquake Chart by Depth and Magnitude</div></center>
<br><center><div class="dm">Click on a Datapoint</div></center>
<center><div class="control" ng-controller="MainCtrl" ng-model="eqdata" /></center>



  <!-- <div class="theader">
    <div class="theadItems" id="locationh">Location</div>
    <div class="theadItems" id="magnitudeh">Magnitude</div>
    <div class="theadItems" id="longitudeh">Longitude</div>
    <div class="theadItems" id="latitudeh">Latitude</div>
    <div class="theadItems" id="depthh">Depth</div>

  </div>
  <span></span>
  <div ng-repeat="earthquake in earthquakes">

    <td>{{ earthquake.place }}</td>
    <td>{{ earthquake.magnitude }}</td>
    <td>{{ earthquake.longitude}}</td>
    <td>{{ earthquake.latitude }}km</td>
    <td>{{ earthquake.depth }}%</td>
    


  </div> -->


